<div class="form-wrapper">
  <div class="container">
    <div class="title-form">
      <h1 *ngIf="!id">Create equipment</h1>
      <h1 *ngIf="id">Update equipment</h1>
    </div>

    <form [formGroup]="equipmentForm" (ngSubmit)="saveEquipment()" class="form-layout">
      <div class="form">
        <mat-form-field class="w-full">
          <mat-label>Model</mat-label>
          <input matInput [(ngModel)]="model" [ngModelOptions]="{standalone: true}"/>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Product Code</mat-label>
          <input matInput [(ngModel)]="productCode" [ngModelOptions]="{standalone: true}"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Producer</mat-label>
          <mat-select [(ngModel)]="producerSelected" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let producer of producerList" [value]="producer.id">
              {{producer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-button">
          <button mat-raised-button color="primary" type="submit">Save
            <mat-icon>save</mat-icon>
          </button>
          <button mat-raised-button color="warn" type="submit" routerLink="/equipment-list">cancel
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
