.product-container {
  /*background: rgba(255, 255, 255, 0.8); !* transparent-opac *!*/
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 1500px;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.search-bar {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.add-button {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.mat-cell img {
  border-radius: 4px;
  max-width: 60px;
  max-height: 60px;
}

.mat-elevation-z8 {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
