<div class="container">
  <div class="container-form">
    <div class="">
      <div class="title-form">
        <h1>Create Customer</h1>
      </div>
      <div>
        <form [formGroup]="customerForm" (ngSubmit)="saveCustomer()" class="intervention-sheet-form">

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>CUI</mat-label>
            <input matInput [(ngModel)]="cui" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="address" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Telephone</mat-label>
            <input matInput [(ngModel)]="telephone" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>

          <button mat-raised-button type="submit" color="primary">Save</button>
        </form>

      </div>
    </div>
  </div>
</div>
