<div class="container">
  <div class="student-form-container">
    <div class="title-form">
      <h1>Create intervention sheet</h1>
    </div>
    <div>
      <form [formGroup]="interventionSheetForm" (ngSubmit)="saveInterventionSheet()" class="student-form">

        <mat-form-field>
          <mat-label>Customer</mat-label>
          <mat-select [(ngModel)]="customerSelected" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let customer of customerList" [value]="customer.id">
              {{customer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Employee</mat-label>
          <mat-select [(ngModel)]="employeeSelected" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
              {{employee.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Equipment</mat-label>
          <mat-select [(ngModel)]="equipmentSelected" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let equipment of equipmentList" [value]="equipment.id">
              {{equipment.model}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type of intervention</mat-label>
          <mat-select [(ngModel)]="typeOfInterventionSelected" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let type of typeOfInterventionList" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Engineer Note</mat-label>
          <input matInput formControlName="engineerNote"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Serial Number</mat-label>
          <input matInput formControlName="serialNumber"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Noticed</mat-label>
          <input matInput formControlName="noticed"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fixed</mat-label>
          <input matInput formControlName="fixed"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <button mat-raised-button type="submit" color="primary">Save</button>
      </form>
    </div>
  </div>
</div>
