.intervention-container {
  /*background: rgba(255, 255, 255, 0.5); !* transparent-opac *!*/
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 1700px;
  /*overflow: auto;*/
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.search-bar {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.mat-elevation-z8 {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.add-button {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.mb-3{
  color: black;
}

