<h2 mat-dialog-title>Resetare Parola</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Selecteaza utilizatorul</mat-label>
      <mat-select formControlName="userId">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.firstname }} {{ user.lastname }} ({{ user.email }})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Parola noua</mat-label>
      <input matInput
             [type]="hidePassword ? 'password' : 'text'"
             formControlName="newPassword"
             placeholder="Minim 6 caractere">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
        Parola este obligatorie
      </mat-error>
      <mat-error *ngIf="form.get('newPassword')?.hasError('minlength')">
        Parola trebuie sa aiba minim 6 caractere
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Anuleaza</button>
  <button mat-raised-button color="primary"
          (click)="onSubmit()"
          [disabled]="form.invalid || isLoading">
    <mat-icon *ngIf="isLoading">hourglass_empty</mat-icon>
    {{ isLoading ? 'Se salveaza...' : 'Reseteaza' }}
  </button>
</mat-dialog-actions>
