<div class="container-header">
  <div class="header">

    <div class="title-logo">
      <h1>Service Gursk</h1>
    </div>

    <div class="buttons">
      <div class="example-button-container">
        <button mat-fab color="warn" routerLink="/dashboard">
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <button mat-button color="primary" (click)="logout()" routerLink="/login">Logout</button>

      <button routerLink="/login" mat-button color="primary"> Login</button>

      <button routerLink="/customer-list" mat-button color="primary">Customers</button>

      <button routerLink="/product-list" mat-button color="primary">Products</button>

      <button routerLink="/equipment-list" mat-button color="primary">Equipments</button>

      <button routerLink="/employee-list" mat-button color="primary">Employees</button>

      <button routerLink="/intervention-sheet-list" mat-button color="primary">Interventions</button>

    </div>
  </div>
  <div>
  </div>
</div>
