
<div class="container-header" *ngIf="!isMobile">
  <div class="header">
    <div class="title-logo">
      <h1>Service Gursk</h1>
    </div>

    <div class="buttons">
      <div class="example-button-container">
        <button mat-fab color="warn" routerLink="/dashboard">
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <button mat-button color="primary" (click)="logout()" routerLink="/login">Logout</button>
      <button routerLink="/login" mat-button color="primary">Login</button>
      <button routerLink="/customer-list" mat-button color="primary">Customers</button>
      <button routerLink="/product-list" mat-button color="primary">Products</button>
      <button routerLink="/equipment-list" mat-button color="primary">Equipments</button>
      <button routerLink="/employee-list" mat-button color="primary">Employees</button>
      <button routerLink="/intervention-sheet-list" mat-button color="primary">Interventions</button>
      <mat-slide-toggle
        [checked]="isDarkMode"
        (change)="toggleDarkMode($event)">
        🌙 Dark Mode
      </mat-slide-toggle>
    </div>
  </div>
</div>

<!-- MOBILE -->
<div class="container-header" *ngIf="isMobile">
  <div class="mobile-header">
    <div class="mobile-title">
      <h2>Service Gursk</h2>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-slide-toggle
      [checked]="isDarkMode"
      (change)="toggleDarkMode($event)">
      🌙 Dark Mode
    </mat-slide-toggle>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard"><mat-icon>home</mat-icon>Dashboard</button>
      <button mat-menu-item (click)="logout()" routerLink="/login"><mat-icon>logout</mat-icon>Logout</button>
      <button mat-menu-item routerLink="/login"><mat-icon>login</mat-icon>Login</button>
      <button mat-menu-item routerLink="/customer-list"><mat-icon>people</mat-icon>Customers</button>
      <button mat-menu-item routerLink="/product-list"><mat-icon>inventory</mat-icon>Products</button>
      <button mat-menu-item routerLink="/equipment-list"><mat-icon>build</mat-icon>Equipments</button>
      <button mat-menu-item routerLink="/employee-list"><mat-icon>engineering</mat-icon>Employees</button>
      <button mat-menu-item routerLink="/intervention-sheet-list"><mat-icon>assignment</mat-icon>Interventions</button>
    </mat-menu>
  </div>
</div>
