
.container {
  display: flex;
  justify-content: center;
  align-items: center;


}

.containerHomeButtons {
  margin: 200px;
  width: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.divButton {
  height: 150px;
  width: 150px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  border-radius: 20px;
  transition: transform 0.2s;
}

.divButton:hover {
  transform: scale(1.05);
}

