<h2 mat-dialog-title>Documente pentru fisa de interventie {{ data.intervention.id }}</h2>

<mat-dialog-content>
  <div *ngIf="documents.length === 0">Nu există documente încă.</div>

<!--  <div *ngFor="let doc of documents">-->
<!--    <a href="{{doc.url}}" target="_blank">{{doc.name}}</a>-->
<!--  </div>-->

  <br>
  <input type="file" (change)="onFileSelected($event)" />
</mat-dialog-content>

<div class="document-item">
  <table class="docs-table" *ngIf="documents.length > 0">
    <tr *ngFor="let doc of documents">
      <td>{{ doc.name }}</td>
      <td>
        <button mat-icon-button matTooltip="Vezi" (click)="previewDocument(doc)">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Descarcă" (click)="downloadDocument(doc)">
          <mat-icon>download</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Șterge" (click)="deleteDocument(doc.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="selectedDocumentUrl" class="pdf-preview">
  <h3>Previzualizare PDF</h3>
  <iframe [src]="selectedDocumentUrl | safe "></iframe>
</div>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Închide</button>
</mat-dialog-actions>

