<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Închide</button>
</mat-dialog-actions>
<h2>Documente intervenție cu numarul: {{data.intervention.id}}</h2>
<input type="file" (change)="onFileSelected($event)" />
<table>
  <tr *ngFor="let doc of documents">
    <td>{{ doc.name }}</td>
    <td>
      <button mat-icon-button (click)="previewDocument(doc)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="downloadDocument(doc)">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteDocument(doc.name)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>

<div *ngIf="previewUrl" style="height: 900px; border: 1px solid #ccc;">
  <iframe [src]="previewUrl" width="100%" height="100%" type="application/pdf"></iframe>
</div>

