.order-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.order {
  /*background-color: rgba(245, 245, 245, 0.7);*/
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.order-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

.client-form{
  width: 400px;
}
